<nav>
    <div class="nav-wrapper">
      <img src="../assets/logo2.png" alt="Logo">
      <a href="/" class="brand-logo">Timeprove</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
          <li><a [routerLink]="['../mypage']" id="profile-btn-l" class="waves-effect waves-light btn">My Page<i class="material-icons right">face</i></a></li>
          <li><a [routerLink]="['../mytickets']" id="tickets-btn-l" class="waves-effect waves-light btn">My Tickets<i class="material-icons right">event_note</i></a></li>
          <li><a [routerLink]="['../newticket']" id="open-btn-l" class="waves-effect waves-light btn">Open Ticket<i class="material-icons right">event_note</i></a></li>
          <li><a id="logout-btn-l" (click)="logout()" class="waves-effect waves-light btn">Logout<i class="material-icons right">exit_to_app</i></a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a [routerLink]="['../mypage']" id="profile-btn-s" class="waves-effect waves-light btn">My Page<i class="material-icons right">face</i></a></li>
        <li><a [routerLink]="['../mytickets']" id="tickets-btn-s" class="waves-effect waves-light btn">My Tickets<i class="material-icons right">event_note</i></a></li>
        <li><a [routerLink]="['../newticket']" id="open-btn-s" class="waves-effect waves-light btn">Open Ticket<i class="material-icons right">event_note</i></a></li>
        <li><a id="logout-btn-s" (click)="logout()" class="waves-effect waves-light btn">Logout<i class="material-icons right">exit_to_app</i></a></li>
      </ul>
    </div>
</nav>