<app-managers-nav></app-managers-nav>
<div class="greeting" ><h5><b>Welcome Ori Bermudez</b></h5></div>
<h4><b>Statistics</b></h4>
<div>
    <div class="col s12 m7">
        <div class="card horizontal">
          <div class="card-image">
            <img src="../assets/statistics.png">
          </div>
          <div class="card-stacked">
              <h6 class="header"><b>Tickets per day</b></h6>
            <div class="card-content">
              <p><b></b></p>
              </div>
        </div>
      </div>
</div>

<div>
    <div class="col s12 m7">
        <div class="card horizontal">
          <div class="card-image">
            <img src="../assets/line-chart.png">
          </div>
          <div class="card-stacked">
              <h6 class="header"><b>More fail populated zone</b></h6>
            <div class="card-content">
              <p><b></b></p>
          </div>
        </div>
      </div>
</div>

<div>
    <div class="col s12 m7">
        <div class="card horizontal">
          <div class="card-image">
            <img src="../assets/line-chart (2).png">
          </div>
          <div class="card-stacked">
              <h6 class="header"><b>Average repair time</b></h6>
            <div class="card-content">
              <p><b></b></p>
           </div>
        </div>
      </div>
</div>

<div>
    <div class="col s12 m7">
        <div class="card horizontal">
          <div class="card-image">
            <img src="../assets/analytics.png">
          </div>
          <div class="card-stacked">
              <h6 class="header"><b>Average repairs a day</b></h6>
            <div class="card-content">
              <p><b></b></p>
           </div>
        </div>
      </div>
</div>

<h4><b>Charts</b></h4>

<fusioncharts
    [id]="id"
    [width]="width"
    [height]="height"
    [type]="type"
    [dataFormat]="dataFormat"
    [dataSource]="dataSource"
></fusioncharts>



