body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h4{
    color: #3f51b5;
    text-align: center;
    font-size: 1.8em;
}

.greeting{
    text-align: center;
}

.card-image img{
    width: 11vh;
    padding: 10%;
    margin: 20%;
}

.card-stacked{
    font-size: 1.5em;
    text-align: center;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating){
    text-align: center;
    font-size: .7em;
    padding: 1%;
    color: #0089ec;
    margin: 0;
}

.card-content{
    padding: 3%;
}

h5{
    padding: 4%;
    font-size: 1.9em;
}

h6{
    font-size: 1em;
}

#pay-button {
    width: 100%;
    background-color: #3f51b5;
    font-size: 1em;
}

.card-action{
    padding: 3%;
}

.sta{
    font-size: 1.5em;
}



