<app-user-nav></app-user-nav>
<ul class="collection">
    <li *ngFor="let ticket of tickets" class="collection-item avatar">
        <i class="material-icons circle red">settings</i>
      <span class="title"><b>Ticket: {{ticket._id.substring(16)}}</b></span>
      <p><b>Services down:</b> {{ticket.services}}<br>
         <b>Created by:</b> {{ticket.owner}}<br>
         <b>Address:</b> {{ticket.location.address}}<br>
         <b>Created at:</b> {{ticket.created_at}} <br>
         <b>Status:</b> {{ticket.status}}
      </p>
      <div *ngIf="ticket.status === 'Solved'">
        <button id="review-btn" class="btn waves-effect waves-light" type="submit" name="action">Review service
            <i class="material-icons right">rate_review</i>
          </button>
      </div>
  </li>
</ul>