<app-user-nav></app-user-nav>
<ul class="collection">
    <li *ngFor="let ticket of tickets" class="collection-item avatar">
        <i class="material-icons circle red">settings</i>
      <span class="title"><b>Ticket: {{ticket._id.substring(16)}}</b></span>
      <p><b>Services down:</b> {{ticket.services}}<br>
         <b>Created by:</b> {{ticket.owner}}<br>
         <b>Address:</b> {{ticket.location.address}}<br>
         <b>Created at:</b> {{ticket.created_at}} <br>
         <b>Status:</b> {{ticket.status}}
      </p>
      <div *ngIf="ticket.status === 'Solved' && ticket.reviewed === false">
          <a id="review-btn" (click)="getId(ticket)" class="waves-effect waves-light btn modal-trigger" href="#modal1">Review service<i class="material-icons right">rate_review</i></a>
      </div>
  </li>
</ul>

<!-- Modal Structure -->
<div id="modal1" class="modal bottom-sheet">
    <div class="modal-content">
      <h5>Were you satisfied with our technical service?</h5>
        <form>
            <div>
                <ul class="hori">
                    <li class="review-face"><a class="btn-floating green"><i class="material-icons">sentiment_very_satisfied</i></a></li>
                    <li><a class="btn-floating yellow darken-1"><i class="material-icons">sentiment_neutral</i></a></li>
                    <li><a class="btn-floating red"><i class="material-icons">sentiment_very_dissatisfied</i></a></li>
                  </ul>
                </div>
                <div class="row">
                    <form class="col s12">
                      <div class="row">
                        <div class="input-field col s12">
                          <textarea id="textarea1" class="materialize-textarea"></textarea>
                          <label for="textarea1">Write about your experience</label>
                        </div>
                      </div>
                    </form>
                  </div>
          </form>
          <div class="modal-footer">
            <button (click)="reviewed(ticket)" id="send-btn" class="btn waves-effect waves-light" type="submit" >Send</button>
        </div>
    </div>
  </div>