<app-tech-nav></app-tech-nav>
<ul class="collection">
    <li *ngFor="let ticket of tickets" class="collection-item avatar">
      <span class="title"><b>Ticket: {{ticket._id.substring(16)}}</b></span>
      <p><b>Services down:</b> {{ticket.services}}<br>
         <b>Created by:</b> {{ticket.owner}}<br>
         <b>Address:</b> {{ticket.location.address}}<br>
         <b>Created at:</b> {{ticket.created_at}} <br>
         <b>Status:</b> {{ticket.status}}
      </p>
      <div>
        <ul class="hori">
            <li><a (click)="changeStatus(ticket._id)" class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
            <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
            <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
            <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
          </ul>
        </div>
  </li>
</ul>