body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
h4{
    color: #3f51b5;
    text-align: center;
}

nav .nav-wrapper {
    background-color: #3f51b5;
}

nav .btn {
    background-color: #e8646d;
}

nav .nav-wrapper img{
    width: 9vh;
    padding: 10px;
}

#ticket-btn-s{
    background-color: #8f9cff;
}

#ticket-btn-l{
    background-color: #8f9cff;
}

img, .brand-logo{
    margin-left: 5%;
}

.side-nav li > a > i{
    color: white;
}

.hori{
    display: flex;
    justify-content: space-around;
    padding: 3%;
}

.collection-item.avatar{
    padding: 5%;
}

#send-btn {
    background-color: #3f51b5
}